body{
    margin:0;
    padding:0;
  }
header{
    border:4px groove rgba(255, 192, 203, 0.539);
    background:linear-gradient(rgba(255, 0, 0, 0.568),black);
    position: sticky;
    top:0px;
    padding-left: 10PX;
    /* height:150px; */
/* background: r; */
}
/* .fa-book{     */
    /* font-size: 100px; */
    /* color:rgba(255, 20, 145, 0.5); */
    /* color:white; */
    /* margin:3px 20px; */
    /* padding:0px 70px; */
/* } */
nav{
    /* width:100%; */
    /* height: 40px; */
    text-align: center;
   
    }
    nav a{
    color:white;
    text-decoration: none;
    font-size: 25px;
    padding:0px 30px;
    font-family: 'Varela Round', sans-serif;   
    
}
.fa-magnifying-glass{
    color:white;
    font-size: 24px;
    margin-left: 10px;
}
input{
    margin-left: 30px;
    margin-bottom: 7px;
    width:321px;
    height:25px;
    border:3px solid pink;
    border-radius: 10px;
}
nav a:hover{
    color:darkgreen;
    cursor:pointer;
    text-decoration: underline;
}
h1{
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    color:white;
    text-shadow: 3px 3px 3px black;
}

/* media query of nav bar for phone*/
@media only screen and (max-width: 600px){
    h1{
        font-size:20px;
    }
    nav a{
        font-size: 15px;
        padding:0px 5px;
    }
    header{
        padding-left: 0px;
    }
    input{
        width:50px;
        margin-top: 10px;
    margin-bottom: 7px;
    /* height:25px; */
    }
    .fa-magnifying-glass{
        color:white;
        font-size: 20px;
        margin-left: 10px;
    }
}
/* media query for ipad tablet */
@media (min-width: 600px) and (max-width: 991px) {
    h1{
        font-size:30px;
    }
        nav a{
        font-size: 25px;
        padding:0px 10px;
    }
    header{
        padding-left: 0px;
    }
    input{
        width:100px;
        margin-top: 10px;
    margin-bottom: 7px;
    height:25px;
    }
    .fa-magnifying-glass{
        color:white;
        font-size: 20px;
        margin-left: 5px;
    }
}
/*  */
/* media query for ipad tablet */
/* @media (min-width: 992px) and (max-width: 1800px) {}
  
 input{
        width:150px;
        margin-top: 10px;
    margin-bottom: 7px;
    height:25px;
    } */

    

.row{
background:linear-gradient(pink,rgba(255, 0, 0, 0.765),black);
width:100%;
height:1000px;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.col{
    width: 300px;
    height: 800px;
    background:linear-gradient(rgb(230, 121, 121) );
    border:5px groove pink;
    border-radius: 20px;
    margin:20px;
}
.col:hover{
    box-shadow: 3px 3px 3px black;
}
img{
    width: 100%;
    height: 300px;
    /* border:4px inset pink; */
    border-radius: 20%;
}
img:hover{
    width:100%;
    height:400px;
}
h2{
    text-align: center;
     /* font-family: 'Itim', cursive;; */
     font-family: 'Noto Serif', serif;
     text-shadow: 2px 2px 2px deeppink;
    font-size: 30px;
    color:darkgreen;
    text-decoration: underline;
}
h2:hover{
    font-size: 40px;
}
h4{
    font-family:'Itim', cursive; ;
}
p{
    /* text-align: center; */
    color:floralwhite;
    font-size: 20px;
    padding: 10px;
     font-family: 'Itim', cursive;;
}
button{
    text-align: center;
    border:4px inset pink;
    width:100px;
    background-color: aquamarine;
    font-family: 'Noto Serif', serif;
    color:green;
    margin-left: 80px;
    font-size: 15px;
}
button:hover{
    color:green;
    background: pink;
    cursor: pointer;
    width:150px;
    font-size: 20px;
}

/* media query of pages for phone  */
@media only screen and (max-width: 600px) {
    .row{
        
        /* display: flex; */
        height:4000px;
        flex-wrap: wrap;
        flex-direction: row;
        /* align-items: center; */
        /* justify-content: space-evenly; */
        }
        .col{
            width: 300px;
            height: 800px;
            background:linear-gradient(rgb(230, 121, 121) );
            border:5px groove pink;
            border-radius: 20px;
            margin:20px;
        }
}
/* /* media query of pages for ipad  */
 
@media (min-width: 600px) and (max-width: 990px) {
    .row{
        
        /* display: flex; */
        height:2000px;
        flex-wrap: wrap;
        flex-direction: row;
        /* align-items: center; */
        /* justify-content: space-evenly; */
        }
        .col{
            width: 300px;
            height: 800px;
            background:linear-gradient(rgb(230, 121, 121) );
            border:5px groove pink;
            border-radius: 20px;
            margin:20px;
        }
}



footer{
    background-color: grey;
    width: 100%;
    height:120px;
}
.row1{
    display: flex;
    align-items: center;
    /* height:220px; */

    justify-content: space-evenly;
}
.cols{
    /* border:2px solid red; */
    width: 300px;
    height:118px;
    text-align: center;
}
.cols p{
    font-size:medium;
    color:rgb(67, 68, 68);
    padding: 0px;

}
.cols p:hover{
    cursor: pointer;
    text-decoration: underline;
    color:azure
}

/* media query of footer for phone  */
@media only screen and (max-width: 600px) {
    footer{
        background-color: grey;
        height:360px;
    }
    .row1{
        /* display: flex; */
        /* align-items: center; */
            /* justify-content: space-evenly; */
            flex-wrap: wrap;
            flex-direction: column;
    }
    .cols{
        /* border:2px solid red; */
        width: 300px;
        height:118px;
        text-align: center;
}

}

